body {
  font-family: Helvetica, sans-serif;
}

.controls {
  border-bottom: solid 1px black;
  padding: 1em 5%;
}

svg {
  border: solid 1px black;
  margin: 1em 5%;
}

/* klasa sa animacijom */
.pulse {
  -webkit-animation-name: pulsar;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-fill-mode: backwards;
  /*Ime animacije*/
  animation-name: pulsar;
  animation-duration: 2s;
  animation-iteration-count: 1;
  /*Direkcija i fill mode*/
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-webkit-keyframes pulsar {
  from {
    fill: red;
  }
  to {
    fill: red;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 75% 75%;
  }
}

@keyframes pulsar {
  from {
    fill: red;
  }
  to {
    fill: red;
    transform: scale(0.5);
    transform-origin: 75% 75%;
  }
}

